@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

/*.root, .label {*/
/*-fx-font-family: Tahoma, Geneva, sans-serif;*/
/*}*/

.logo-text {
    -fx-font-family: 'Roboto Light', Helvetica, sans-serif;
    -fx-font-size: 30;
}

.calamity-list {
    -fx-font-size: 14;
    -fx-font-style: normal;
}

.table-view .column-header {
    -fx-background-color: rgb(237.0, 68.0, 37.0);
}

.calamity-list .column-header.foo .label {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}

/*******************************************************************************
 *                                                                             *
 * Calamity                                                                    *
 *                                                                             *
 ******************************************************************************/

.calamity-title {
    -fx-font-size: 30;
}

.calamity-creator {
    -fx-font-size: 20;
}

.calamity-date {
    -fx-font-size: 14;
}

.dashboard-button {
    -fx-background-insets: 0.0;
    -fx-background-radius: 5.0;
    -fx-padding: 0.7em;
    -fx-border-width: 1.0;
    -fx-border-color: white;
    -fx-text-fill: black;
}

.textfield {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-text-fill: black;

    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
}

.textfield:focused {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-text-fill: black;

    -fx-border-color: rgb(0.0, 184.0, 222.0);
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
}

.textarea {
    -fx-background-color: white;
    -fx-background-radius: 4px;
}

.textarea .content {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.textarea:focused {
    -fx-background-color: rgb(0.0, 184.0, 222.0);
    -fx-background-radius: 4px;
}

.textarea .content:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}